@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body, html {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 15%) 1fr;
    grid-template-rows: minmax(170px, 30%) 1fr;
    height: 100%;
}

img:hover{
    transform: scale(1.5);
}

.profile-picture:hover {
    transform: scale(1);
}

/* header related styles */
.header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: linear-gradient(45deg, #FFBF00,#e5d2a3, #ff5545);
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr; 
    margin-top: 5px;
}

.admin-controls {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 200px; 
}

.user-page-big {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 8px;
}

.admin-user-header {
    font-size: 1.7rem;
}

.search-bar-icon, .profile-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    gap: 16px;
}

.profile-page {
    justify-content: flex-end;
    margin-right: 12px;
}

input {
    flex: 1;
    margin-right: 250px;
    border: solid 2px rgba(204, 195, 144, 0.308);
    border-radius: 25px;
}

.control-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 50px;
    gap: 12px;
    margin-top: 30px;
    margin-right: 22px;
}

button {
    font-size: 1.2rem;
    border-radius: 25px;
    border: none;
    background-color: #4c4e8d;
    padding: 16px;
    font-weight: 900;
    color: white;
    
}

button:hover {
    transform: scale(1.2);
}

/* sidebar related styles */
.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #808691;
    font-size: 1.5rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
}

.dashboard-logo-name {
    vertical-align: middle;
    font-size: 1.5rem;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.main-nav {
    display: grid;
    grid-template: 4 / 1;
    padding-left: 8px;
    margin-top: 50px;
    gap: 12px;
}

.settings-nav {
    display: grid;
    grid-template: 3 / 1;
    padding-left: 8px;
    margin-top: 200%;
    gap: 12px;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


li > span {
    vertical-align: middle;
}

.icon {
    margin-right: 22px;
    margin-left: 7px;
}


/* content related styles */
.content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: #f2f2f2;
    gap: 16px;
}

.posts-collage {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 50%));
    grid-template-rows: repeat(1, 40px) repeat(3, minmax(150px, 40%));
    gap: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.projects-banner {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 2px;
    margin-bottom: -10px;
}

div > span {
    display: flex;
    margin: 12px;
    font-size: 1rem;
    font-weight: 600;
}

.text {
    margin: 12px;
    font-weight: lighter;
    font-size: 1.3rem;
}

.project-subject {
    font-size: 1.3rem;
    font-weight: 600;
}

.posts-collage > div {
    border-radius: 20px;
}

.post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, minmax(40px, 20%)) repeat(1, minmax(100px, 60%)) repeat(1, minmax(20px, 20%));
    margin-top: 10px;
    gap: 6px;
    background-color: white;
    overflow: auto;
    padding: 12px;
}

.actions-icons {
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.posts-collage > .recipes-project {
    background-color: #8bb8a2;
    color: white;
}

.posts-collage > .rock-paper {
    background-color: #FFAC1C;
    color: #121713;
}

.posts-collage > .calculator {
    background-color: #4c4e8d;
    color: white;
}

.posts-collage > .landing-page {
    background-color: #636c78;
    color: white;
}

.posts-collage > .etch {
    background-color: #e5d2a3;
    color: black;
}

.posts-collage > .sign-up {
    background-color: #ff5545;
    color: black;
}

.admin-stats {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 40px) repeat(1, minmax(200px, 50%)) repeat(1, 40px) repeat(1, 1fr);
    margin-top: 20px;
    border-radius: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.announcements {
    justify-self: center;
    grid-row: 1/2;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    padding: 2px;
    margin-bottom: -10px;
}

.latest-announcements {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(100px, 30%));
    gap: 10px;
    margin: 20px;
    margin-bottom: 12px; 
}

.announcements-header {
    display: grid;
    grid-template-rows: repeat(1, minmax(20px, 30%)) repeat(1, minmax(50px, 70%));
    gap: 6px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}

.announcement-subject{
    font-weight: 600;
}

.announcements-text {
    overflow: auto;
}

.trending-title {
    font-size: 1.5rem;
}

.trending {
    grid-row: 3/4;
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    padding: 2px;
    margin-top: -40px;
}

.trending-list {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(50px, 30%));
    gap: 5px;
    margin: 20px;
    margin-bottom: 12px;
    margin-top: -20px;
}

.trending-accounts {
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 40%)) repeat(1, minmax(80px, 60%));
    grid-template-rows: repeat(1, minmax(30px, 10%));
    margin-top: 2px;
    gap: 6px;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

.account-name {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
}

.account-name > img {
    align-self: center;
}